*.iml
.gradle/
.idea/
.kotlin/
local.properties
**/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
secrets.properties

# Firestore rule tests
rules-tests/node_modules/
rules-tests/firestore-debug.log

rules-tests/node_modules/
rules-tests/firestore-debug.log
